<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ru.anatol.trackrenamer.core.mapper.TrackMapper" >
    <!--    <insert id="insertTest" parameterType="PojoTestTable">
            insert into TestTable (idval,fld1,fld2)
            values (#{idval},#{fld1},#{fld2})
    </insert>
    <select id="selectAll" resultType="PojoTestTable">
            select idval,fld1,fld2 from TestTable
    </select>-->
    
<!--    <resultMap type="ru.anatol.trackrenamer.core.entities.Track" id="track">
        <id column="id" property="id"/>
        <result column="filename," property="filename"/>
        <result colutitlename" propertitlename"/>
        <result column="comment" property="comment"/>
    </resultMap>
    
    resultMap="track"
    -->
    <select id="getTrack" parameterType="long" resultType="ru.anatol.trackrenamer.core.entities.Track">
        SELECT
        t.id,
        t.filename,
        a.title as artist,
        t.title,
        t.comment
        FROM track t
        LEFT JOIN artist a ON t.artist_id = a.id
        WHERE t.id = #{id}
    </select>
<!--    <select id="getTracks" resultType="Track">
        SELECT
        t.id,
        t.filename,
      titlename as artist,
      titlename,
        t.comment
        FROM track t
        LEFT JOIN artist a ON t.artist_id = a.id
    </select>-->
    
<!--    <insert id="addTrack" parameterType="Track" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO artititlename)
        VALUES (#{artist});
        
        INSERT INTO track (artist_id, filenatitlename, comment)
        VALUES (#{id}, #{filename}titlename}, #{comment});
    </insert>-->

    <!--    <update id="updateBrand" parameterType="Brand">
        UPDATE brand
        SET
    titlename titlename}
        where id = #{id}
    </update>-->

    <delete id="removeTrack" parameterType="long">
        DELETE FROM track
        WHERE id = #{id}
    </delete>
    
    <!--    <select id="getTrackById" parameterType="java.lang.Long" resultType="ru.anatol.trackrenamer.core.entities.Track">
        select t.id, t.filenametitlename, t.comment
        from track t
        where id = #{id}
    </select>-->
    <!--    <select id="getTracks" resultType="ru.anatol.trackrenamer.core.entities.Track">
        select t.id, t.filenametitlename, t.comment
        from track t
    </select>-->
</mapper>